<div class="sub-footer">
    <div>
    <img src="../../assets/logo.png" alt=" image">
</div>
    <div class="sub-footer-div">
        <div>
        <ul>
            <h3>PRODUCTS</h3>
            <li> <a href="/wac/software/jira">Jira Software</a></li>
            <li><a href="/wac/software/jira/align">Jira Align</a></li>
            <li><a href="/wac/software/jira/service-management" >Jira Service Management</a></li>
            <li><a href="/wac/software/jira/product-discovery">Jira Product Product Discovery</a></li>
            <li><a href="/wac/software/confluence">Confluence</a></li>
            <li><a href="https://trello.com/home" >Trello</a></li>
            <li><a href="/wac/software/bitbucket" >Bitbucket</a></li>
            <li><a href="/wac/software" style="color: blue;">View all products</a></li>
            
        </ul>
        </div>
        <div>
        <ul>
            <h3>RESOURCES</h3>
            <li><a href="https://support.atlassian.com/">Technical Support</a></li>
            <li><a href="/wac/licensing/purchase-licensing">Purchasing & licensing</a></li>
            <li><a href="https://community.atlassian.com/">Atlassian Community</a></li>
            <li><a href="https://confluence.atlassian.com/kb">Knowledge base</a></li>
            <li><a href="https://marketplace.atlassian.com/">Marketplace</a></li>
            <li><a href="https://my.atlassian.com/products/index">My Account</a></li>
            <li><a href="https://support.atlassian.com/contact/" style="color: blue;">Create support ticket</a></li>
           
        </ul>
        </div>
        <div>
        <ul>
            <h3>EXPAND & LEARN</h3>
            <li><a href="/wac/partners">Partners</a></li>
            <li><a href="/wac/university">Training & Certification</a></li>
            <li><a href="https://confluence.atlassian.com/display/ALLDOC/Atlassian+Documentation">Documentation</a></li>
            <li><a href="/wac/developers">Developer Resources</a></li>
            <li><a href="/wac/enterprise/services">Enterprise services</a></li>
            <li><a  href="/wac/resources" style="color: blue;">View all resources</a></li>
            
        </ul>
    </div>
        <div>
        <ul>
            <h3> ABOUT ATLASSIAN</h3>
            <li><a href="/wac/company"> Company</a></li>
            <li><a href="/wac/company/careers"> Careers</a></li>
            <li><a href="/wac/company/events" >Events</a></li>
            <li><a href="/wac/blog"> Blogs</a></li>
            <li><a href="https://www.atlassianfoundation.org/">Atlassian Foundation</a></li>
            <li><a href="https://investors.atlassian.com"> Investor Relations</a></li>
            <li><a href="/wac/trust">Trust & Security</a></li>
            <li><a href="/wac/company/contact" style="color: blue;">Contact us</a></li>
        </ul>
    </div>
    
</div>
   
</div>
