<div class="container">
  <div class="container-section">
    <div>
      <h3>
        Run a world-class agile software company—from discovery to delivery and
        operations
      </h3>
    </div>
    <div class="container-body">
      <div class="card-section">
        <div class="card-link">
          <a href="/solutions/itsm"
            >Explore open Devops<i
              class="bi bi-arrow-right"
              style="color: blue"
            ></i
          ></a>
        </div>

        <div class="card-div" style="max-width: 540px">
          
            <div>
              <img
                src="../../assets/image5.png"
                class="img-fluid rounded-start"
                alt="..."
              />
            </div>

            <div class="content-sec">
              <a href="/software/jira">
              <h5>Jira Software</h5>
              <p>Project and issue tracking</p></a>
            </div>
          
        </div>

        <div class="card-div" style="max-width: 540px">
         
            <div>
              <img
                src="../../assets/image6.png"
                class="img-fluid rounded-start"
                alt="..."
              />
            </div>

            <div class="content-sec">
              <a href="/software/jira/product-discovery">
              <h5>Jira Product Discovery</h5>
              <p>Prioritization and roadmapping</p></a>
            </div>
         
        </div>

        <div class="card-div" style="max-width: 540px">
          
            <div>
              <img
                src="../../assets/image7.png"
                class="img-fluid rounded-start"
                alt="..."
              />
            </div>

            <div class="content-sec">
              <a href="/software/jira/align">
              <h5>Jira Align</h5>
              <p>Enterprise Agile planning</p></a>
            </div>
          
        </div>

        <div class="card-div" style="max-width: 540px">
          
            <div>
              <img
                src="../../assets/image8.png"
                class="img-fluid rounded-start"
                alt="..."
              />
            </div>

            <div class="content-sec">
              <a href="/software/compass">
              <h5>Compass</h5>
              <p>Developer experience platform</p></a>
            </div>
          
        </div>

        <div class="card-div" style="max-width: 540px">
          
            <div>
              <img
                src="../../assets/image9.png"
                class="img-fluid rounded-start"
                alt="..."
              />
            </div>

            <div class="content-sec">
              <a href="/software/bitbucket">
              <h5>Bitbucket</h5>
              <p>Code & CI/CD</p></a>
            </div>
          
        </div>

        
        </div>
        <div>
          <img src="../../assets/image 1.png" alt="" style="height: 76%"/>
        </div>
      
    </div>
 
</div>
