<div class="section-career">
    <div class="container">
        <h4>CAREERS</h4>
        <div style="display: flex;width: 100%;justify-content: center;">
        <h3>We can’t do it alone</h3></div>
        <div style="display: flex;width: 100%;justify-content: center; margin-left: 10%;">
        <span>We have an ambitious road ahead, and we’re looking for people to join our global team to help shape the future of Atlassian.</span></div>
        <div style="display: flex;width: 100%;justify-content: center;">
        <button>Join the team</button>
    </div>
    </div>

    
   
</div>
