<div class="container">
  <div class="card-section-1">
    <div class="section-1-content">
      <h4 style="width: 100%;">TEAM ESSENTIALS</h4>
      <h2>Explore resources to unleash the potential of your team</h2>
    </div>
    <div class="card" style="width: 50rem">
      <img
        src="https://wac-cdn.atlassian.com/dam/jcr:549ce2f8-cc5c-4a06-8ce3-ad2b938ae0a5/Community@2x.jpg?cdnVersion=1223"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Atlassian Community</h5>
        <p class="card-text">
          Connect globally and meet locally to get more out of our products.
        </p>
        <a href="https://community.atlassian.com/" 
          >Search the forum</a
        >
        <a href="/community" >Join our community</a>
      </div>
    </div>
  </div>

  <!------------------------second card section----------------------------------------------->
  <div class="card-section2">
    <div class="card" style="width: 55rem">
      <img src="https://wac-cdn.atlassian.com/dam/jcr:b1f2b0a5-3eb9-4485-8926-758f20c1c8d8/Blog_360x265@2x.jpg?cdnVersion=1223" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Work Life Balance</h5>
        <p class="card-text">
            Real-life advice, inspiration, and stories from the working world today.
        </p>
        <a href="https://www.atlassian.com/blog" >Read Our Bolg</a>
      </div>
    </div>
    <div class="card" style="width: 55rem">
      <img src="https://wac-cdn.atlassian.com/dam/jcr:a88c87c6-f3ca-4eed-942b-2f02a2f8ed41/Team%20Playbook_360x265@2x.png?cdnVersion=1223" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Atlassian Team Playbook</h5>
        <p class="card-text">
            Solve common team challenges with these group exercises.
        </p>
        <a href="/team-playbook">Check Team Health</a>
      </div>
    </div>
    <div class="card" style="width: 55rem">
      <img src="https://wac-cdn.atlassian.com/dam/jcr:6c8cb1b5-d31c-459e-9112-3e0838565941/team_anywear_illo.png?cdnVersion=1223" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Distributed Work</h5>
        <p class="card-text">
            Advance how your distributed teams collaborate.
        </p>
        <a href="/solutions/distributed">Our evidence-based approach</a>
      </div>
    </div>
  </div>
  <!---------------------------------third card section--------------------------------------->
  <div class="card-section-3">
    <div class="section-content">
      <h4>EVENTS</h4>
      <h2>Hear from today's fearless builders and innovators</h2>
      <a href="/company/events"  style="text-decoration: none;">Leran more</a>
    </div>
    <div class="card" style="width: 55rem">
        <a href=" https://events.atlassian.com/unleash?ref=Unleash&utm_source=marketing&utm_campaign=acquisition&utm_content=wac_event_tile&utm_medium=website">
      <img
      src="https://wac-cdn.atlassian.com/dam/jcr:c4df8838-3870-4942-afa4-9f4902344799/atlassian-unleash.png?cdnVersion=1236"
        class="card-img-top"
        alt="..."
      />
    </a>
    </div>
    <div class="card" style="width: 55rem">
        <a href="https://events.atlassian.com/highvelocity?ref=High_Velocity&utm_source=marketing&utm_campaign=acquisition&utm_content=wac_event_tile&utm_medium=website">
        <img
        src="https://wac-cdn.atlassian.com/dam/jcr:208a26f3-7dea-4295-b3ce-52733592556e/high-velocity.png?cdnVersion=1236"
          class="card-img-top"
          alt="..."
        />
    </a>
      </div>
  </div>
</div>
