<div class="container">
  <div class="container-section">
    <div>
      <h3>
        Enable your dev, IT ops, and business teams to deliver great service
        experiences
      </h3>
    </div>
    <div class="container-body">
      <div class="card-section">
        <div class="card-link">
          <a href="/solutions/itsm"
            >Deliver at high velocity
            <i class="bi bi-arrow-right" style="color: blue"></i
          ></a>
        </div>
        <div class="card-div" style="max-width: 540px">
          <div>
            <a href="/software/jira/service-management">
              <div>
                <img
                  src="../../assets/icon5.png"
                  class="img-fluid rounded-start"
                  alt="..."
                />
              </div>

              <div class="card-body">
                <h5>Jira Service Management</h5>
                <p>High-velocity ITSM</p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div>
        <img src="../../assets/image 1.png" alt="" style="height: 76%" />
      </div>
    </div>
  
</div>
