<div class="container">
  <div class="container-section">
    <div>
      <h3>
        Make work flow across teams while connecting back to company goals.
      </h3>
    </div>
    <div class="container-body">
      <div class="card-section">
        <div class="card-link">
        <a >Work differently, together
          <i class="bi bi-arrow-right" style="color: blue"></i
        ></a>
    </div>
        <div class="card-div" >
          
            <div>
              
              <img
                src="../../assets/icon1.png"
                class="img-fluid rounded-start"
                alt="..."
              />
            </div>

            <div class="content-sec">
              <a href="/software/confluence">
              <h5>Confluence</h5>
              <p>Content collaboration</p></a>
            </div>
         
        </div>

        <div class="card-div" style="max-width: 540px">
         
            <div>
             
              <img
                src="../../assets/icon2.png"
                class="img-fluid rounded-start"
                alt="..."
              />
          
            </div>

            <div class="content-sec">
              <a href="https://trello.com/home">
              <h5>Trello</h5>
              <p>Visual project management</p>
              </a>
            </div>
       
        </div>

        <div class="card-div" style="max-width: 540px">
          
            <div>
              <img
                src="../../assets/icon4.png"
                class="img-fluid rounded-start"
                alt="..."
              />
            </div>

            <div class="content-sec">
              <a href="/software/jira/work-management">
              <h5>Jira Work Managemen</h5>
              <p>Business team collaboration</p></a>
            </div>
         
        </div>

        <div class="card-div" style="max-width: 540px">
          
            <div>
              <img
                src="../../assets/icon3.png"
                class="img-fluid rounded-start"
                alt="..."
              />
            </div>

            <div class="content-sec">
              <a href="/software/atlas">
              <h5>Atlas</h5>
              <p>Teamwork directory</p></a>
            </div>
         
        </div>
      </div>
   
    <div>
      <img src="../../assets/image-notes.png" alt="" style="height: 76%" />
    </div>
  </div>
</div>
